*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    border-bottom: 1px solid #000;
    padding: 10px;
}

section{
    margin-top: 20px;
    margin-left: 10px;
}

section div{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #FFFF00;
    border: 1px solid #000;
}

section div:nth-child(even){
    background-color: #008001;
    top: 30px;
    position: relative;
}